@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ECECEA;
}

header {
    width: 100%;
    height: 75px;
    background: #4169E1;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: #699;
    text-align: center;
    line-height: 75px;
    font-family: 'Rammetto One', cursive;
    color: #fff;
}

.siteTitle {
    width: 100px;
    height: auto;
    text-align: center;
    padding: 25px;
    font-size: 18px;
    display: inline-block;
}

.headerButton {
    float: right;
    padding: 10px;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}

td, th {
    background-color: #699;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 12px 10px;
    text-align: center;
    color: #fff;
}

tr:hover td{
    background-color: #fff;
    color: #699;
}

.searchInput {
    margin-top: 10px;
    background: transparent;
    border: 0px;
    outline: none;
    border-bottom: 2px solid #000;
    width: 35%;
    padding: 5px 10px;
    font-size: 15px;
}

.searchInput:focus {
    border-bottom: 2px solid #fff;
    color: #fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
}

.inputButton {
    margin-top: 10px;
    background: transparent;
    border-radius: 8px;
    outline: none;
    border: 2px solid #000;
    padding: 10px 5px;
    font-weight: 800;
    color: #fff;
}

.inputButton:hover {
    color: #000;
}

.edit a {
    color: inherit;
    text-decoration: none;
}

.form {
    width: auto;
    padding: 20px;
    background: transparent;
}

.button {
    margin: 10px 5px;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    padding: 9px;
    border-radius: 12px;
    background: rgba(105,105,105,0.3);
}
.button a {
    color: inherit;
    text-decoration: none;
}

.message {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
}

.addUserBtn {
    margin-top: 10px;
    padding: 13px 8px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #fff;
    background: transparent;
    font-weight: bold;
}

.addUserBtn:hover {
    color: #fff;
    border: 2px solid #000;
}

.edit {
    cursor: default;
}

/*
        MODAL
 */

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 50%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #699;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
